<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }

        p {
            font-size: 16px;
            margin-bottom: 20px;
        }

        a {
            text-decoration: none;
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bold;
            margin: 10px; /* Espaçamento entre os botões */
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Sistema de Gerenciamento de Usuários</h1>
        <p>Aqui você pode gerenciar os usuários do sistema. Clique nos botões abaixo para acessar as páginas desejadas:</p>
        <a href="/consulta">Consultar Usuários</a>
        <a href="/editar">Editar Usuários</a>
        <a href="/cadastrar">Cadastrar Usuário</a>
        <a href="/entrar">Entre na sua conta</a>
    </div>
</body>
</html>
